*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

.wrapper {
    display: flex; 
    width: 100%;
    max-width: 1500px;
    margin-inline: auto;
    position: relative;
    height: 100px;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
    );
    gap: 10px;
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}



.item1 {
  animation-delay: calc(30s / 8 * (8 - 1) * -1);
}
.item2 {
    animation-delay: calc(30s / 8 * (8 - 2) * -1);
  }
.item3 {
    animation-delay: calc(30s / 8 * (8 - 3) * -1);
  }
.item4 {
    animation-delay: calc(30s / 8 * (8 - 4) * -1);
  }
.item5 {
    animation-delay: calc(30s / 8 * (8 - 5) * -1);
  }
.item6 {
    animation-delay: calc(30s / 8 * (8 - 6)* -1);
  }
.item7 {
    animation-delay: calc(30s / 8 * (8 - 7) * -1);
  }
.item8 {
    animation-delay: calc(30s / 8 * (8 - 8) * -1);
  }

  .item {
    width: auto;
    height: 80px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.329);
    border: 1px solid white;
    border-radius: 15px;
    color: aliceblue;
    left: max(calc(300px * 8), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.crypto-logo {
    width: 50px;
    height: auto;
    margin-right: 20px; 
}

.price-info {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start;
    flex-grow: 1; 
}

.price-row {
    margin-top: 10px;
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
}

.price {
    margin-right: 10px; 
    white-space: nowrap; 
}

.percentage {
    white-space: nowrap; 
    flex-shrink: 0; 
}

.price-up {
    color: green;
}

.price-down {
    color: red;
}

.price-info p {
    margin: 0; 
    font-family: 'GothamBold', sans-serif;
}


.price-row p {
    margin-right: 15px; 
}