.App {
  text-align: center;
}
::-webkit-scrollbar{
  width: 13px;
}
::-webkit-scrollbar{
  background: transparent;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(247, 100, 127) ;
  border-radius: 12px;
  border: 3px solid rgba(40, 40, 40, 1);
}

/* GLOBALS */


.button {
  border-radius: 4px; 
  background: linear-gradient(
    30deg,
    rgba(87, 0, 123, 1), 
    rgb(247, 100, 127) 
  );
  color: white; 
  padding: 0.5rem 1.5rem;
  border: none; 
  cursor: pointer; 
  transition: background-color 0.3s;
  margin-left:20px;
}

.button:hover {
  opacity: 0.9; 
}

.button2 {
  border-radius: 4px; 
  background: linear-gradient(
    30deg,
    rgba(87, 0, 123, 1), 
    rgb(247, 100, 127) 
  );
  color: white; 
  padding: 0.5rem 1.5rem;
  border: none; 
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

.button2:hover {
  opacity: 0.9; 
}

.qr-p{
  font-weight: bold;
  margin-top: 10px;
  color:#b9b9b9;
}

/* NavBar SECTION */


.navbar {
  position: fixed;
  background-color: rgba(52, 52, 52, 1);
  border-radius: 8px;
  top: 20px;     
  left: 50%;     
  transform: translateX(-50%); 
  display: flex;
  justify-content: space-between;
  padding: 15px;
  width: 1050px;
  max-width: 900px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.logo-title { 
  display: flex;
  align-items: center;
}

.image {
  width: 55px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.title {
  color: white;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px 10px;
  font-size: 14px;
  border-radius: 10px;
}

/* Home SECTION */


.home-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-top: 120px;
  margin-bottom: 20px;
 
}

.text-container {
  text-align: horizontal;
  color: aliceblue;
  font-size: 40px;
  z-index: 1;
}

.boldCB{
  background: linear-gradient(
      360deg,
      rgba(87, 0, 123, 1), 
      rgba(222, 67, 150, 1)
    );
  -webkit-background-clip: text;
  color: transparent;
  font-family: 'GothamBold', sans-serif;
}

.phone-container{
  position: relative;
  margin-top: 20px;
}

.circle-phone{
  width: 450px;
  height: 450px;
  border-radius: 50%;
  background: linear-gradient(40deg, rgba(87, 0, 123, 1) 0%, rgba(247, 102, 128, 1) 100%);
  position: absolute;
  top: 50px;
  right: -77px;
  z-index: -1
}

.phone-image{
  width: 300px;
  position: relative;
  z-index: 1;
}

.store-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
  z-index: 1;
}

.store-button {
  display: inline-block;
  text-decoration: none;
  transition: transform 0.2s;
}

.store-button img {
  height: 50px;
  display: block;
}

.store-button:hover {
  transform: scale(1.05);
}

.circle {
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); 
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 600px) {
  .circle {
    width: 0px; 
    height: 0px; 
  }
}

/* Carousel SECTION */

.carousel-container {
  position: relative;
  margin-top: 100px;
  overflow: hidden; 
}


.half-circle {
  position: absolute;
  overflow: hidden;
  left: 50%;
  transform: translateX(-50%);
  height: 1300px;
  width: 2300px;
  background: linear-gradient(180deg, 
                                  rgba(144, 31, 192, 0.753) 0%,  
                                  rgba(247, 102, 128, 1) 30%, 
                                  rgba(243, 127, 148, 0) 70%); 
  border-radius: 50%;
}

.carousel-upper-text {
  max-height: 360px;
  position: relative;
  padding: 10%;
  margin-bottom: 60px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
  margin-top: 10px;
}

.item2 {
  padding: 10px;
  color: aliceblue;
}

.subtitle-container {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 15px;
  max-width: 490px;
  margin-left: 200px;
  font-size: 40px;
  
}

.p-item{
  font-size: 30px;
}

.p-item-bottom{
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 25px;
  color: aliceblue;
  position: relative;
}

/* Card SECTION */

.seccion-tarjeta {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding: 20px;
  margin-top: 150px;
  margin-bottom: 80px;
  gap: 20px; 
 
}

.texto-superior, .texto-inferior {
  text-align: center;
  max-width: 800px; 
}

.texto-superior h1 {
  font-size: 34px;
  color: #ffffff;
  font-weight: bold;
}

.texto-superior p {
  font-size: 16px;
  margin-bottom: 35px;
  color: rgba(152, 152, 152, 1);
  font-weight: bold;
}

.texto-inferior p {
  margin-top: 35px;
  font-size: 1rem;
  color:rgba(181, 181, 181, 1);
  font-weight: bold;
}
.texto-inferior button {
 
  border-radius: 4px;
  background: linear-gradient(
    30deg,
    rgba(87, 0, 123, 1),
    rgb(247, 100, 127)
  );
  color: white;
  padding: 0.5rem 1.5rem;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease; 
  font-weight: bold;
  position: relative; 
  z-index: 1;
}

.texto-inferior button:hover {
  color: #ffffff;
  box-shadow: 0 0 50px 30px rgba(128, 0, 255, 0.5); 
  transform: scale(1.10); 
  transition: all 0.3s ease; 
}

.contenido-principal {
  display: flex;
  justify-content: center;
  gap: 20px; 
 
}

.contenedor-lateral {
  display: flex;
  flex-direction: column;
  gap: 100px; 
  flex: 1; 
  color:#ffffff;
  width: 256px;
  height: 95px;
  margin: 0px 65px 10px 65px;
  border-color: #ffffff;
  border-radius: 10px;
}

.contenedor-lateral h2{
  font-size: 14px;
  font-weight: bold;
}

.contenedor-lateral p{
  font-size: 14px;
  color:#b9b9b9;
  text-align: left;
  margin-left: 5px;
  
}

.info-item {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.199);
  padding: 10px;
  border-radius: 20px;
  border: 0.01px solid rgb(124, 124, 124);
}

.tarjeta-central {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto; 
}

.tarjeta-central img {
  max-width: 370px;
  height: 500px;
}

/* About-us SECTION */

.carousel{
  margin-top: 150px;
}
.carousel-inner{
  margin-bottom: 30px;
}

.carousel-item img {
  border-radius: 15px; 
  height: 500px;
  max-width: 80%;
  margin: 0 auto;
}

.carousel-indicators [data-bs-target] {
  width: 9px; 
  height: 9px;
  position: relative;
  bottom: -50px; 
  display: flex;
}

.carousel-indicators [data-bs-target].active {
  background-color: rgba(199, 38, 188, 1);
}

.carousel-control-prev {
  left: 70px; 
}

.carousel-control-next {
  right: 60px; 
}

/* Login SECTION */

.login{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.left {
  background:linear-gradient(
    360deg,
    rgba(87, 0, 123, 1), 
    rgba(222, 67, 150, 1)
  );
  width: 50vw;
  height: 100vh;
}

.left h4{
  margin-top: 40vh;
  margin-left: 2vw;
  text-align: start;
  color: white;
  font-size: 45px;
  
}
.right{
  display: flex;
  flex-direction: column;
  margin-top: 16vh;
  margin-left: 15vw;
  color: #ffffff;
}
.right h3{
  font-size: 25px;
}

.label{
  display: column;
  display: flex;
  color: rgb(255, 255, 255);
}

.login input{
  width: 100%; 
  max-width: 550px; 
  padding: 0.5rem;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}
input:focus{
  border: 2px solid #D1E9FF;
}
.form-group{
  text-align: start;
  margin-bottom: 1rem;
}


.link{
  color:#b9b9b9;
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
  transition: color 0.3s ease;

  &:hover{
    color:#ee009f;
  }
}





/* Resposive SECTION */

@media (max-width: 1700px) {
  
  .subtitle-container {
    margin-left: 50px;
    max-width: 100%;
    font-size: 36px;
   
  }
  .p-item {
    font-size: 25px;
    
  }
}

@media (max-width: 768px) {
  .subtitle-container {
    font-size: 32px;
    line-height: 1.1;
    max-width: 90%;
  }
  .p-item {
    font-size: 20px;
  }
}

@media (max-width: 480px) {
  .carousel-upper-text {
    padding: 5%;
  }
  .subtitle-container {
    font-size: 28px;
    line-height: 1.1;
    max-width: 95%;
  }
  .p-item {
    font-size: 18px;
  }
}