.App {
  text-align: center;
}

/* GLOBALS */

.button {
  border-radius: 4px; 
  background: linear-gradient(
    to right,
    rgba(87, 0, 123, 1), 
    rgba(247, 102, 128, 1) 
  );
  color: white; 
  padding: 0.5rem 1.5rem;
  border: none; 
  cursor: pointer; 
  transition: background-color 0.3s;
 
}

.button:hover {
  opacity: 0.9; 
}

/* NavBar SECCION */

.navbar {
  background-color: rgba(52, 52, 52, 1);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
  padding: 7px 20px;
  width: 80%;
  max-width: 900px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.logo-title {
  display: flex;
  align-items: center;
}

.image {
  width: 55px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
}

.title {
  color: white;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px 10px;
  font-size: 14px;
  border-radius: 10px;
}


.dropdown {
  position: absolute; /* Posicionar el dropdown */
  right: 0; /* Alinear a la derecha */
  margin-top: 0.5rem; /* Espacio entre el navbar y el dropdown */
  background-color: rgba(52, 52, 52, 1); /* Color de fondo */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra */
  z-index: 50; /* Asegurarse de que esté por encima de otros elementos */
}

/* Estilo para los enlaces del dropdown */
.dropdown a {
  display: block; /* Hacer que cada enlace ocupe una línea */
  padding: 10px 15px; /* Espaciado */
  color: white; /* Color del texto */
  text-decoration: none; /* Sin subrayado */
}

.dropdown a:hover {
  background-color: rgba(87, 0, 123, 1); /* Color de fondo en hover */
}