@font-face {
  font-family: 'Gotham-Rounded-family';
  src: url('./assets/Fonts/gothamrnd_bold.otf') format('opentype'),
    url('./assets/Fonts/gothamrnd_bolditalic.otf') format('opentype'),
    url('./assets/Fonts/gothamrnd_book.otf') format('opentype'),
    url('./assets/Fonts/gothamrnd_bookitalic.otf') format('opentype'),
    url('./assets/Fonts/gothamrnd_light.otf') format('opentype'),
    url('./assets/Fonts/gothamrnd_lightitalic.otf') format('opentype'),
    url('./assets/Fonts/gothamrnd_medium.otf') format('opentype'),
    url('./assets/Fonts/gothamrnd_mediumitalic.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham-Rounded';
  src: url('./assets/Fonts/gothamrnd_medium.otf') format('opentype');
  font-style: normal; 
}

body {
  margin: 0;
  font-family: 'Gotham-Rounded', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(40, 40, 40, 1);
}

button{
  font-family: 'Gotham-Rounded', sans-serif;
}

h1, h2, h3 {
  font-weight: normal; 
}

p {
  font-weight: 300; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}