@font-face {
  font-family: 'Gotham-Rounded-family';
  src: url('./assets/Fonts/gothamrnd_bold.otf') format('opentype'),
    url('./assets/Fonts/gothamrnd_bolditalic.otf') format('opentype'),
    url('./assets/Fonts/gothamrnd_book.otf') format('opentype'),
    url('./assets/Fonts/gothamrnd_bookitalic.otf') format('opentype'),
    url('./assets/Fonts/gothamrnd_light.otf') format('opentype'),
    url('./assets/Fonts/gothamrnd_lightitalic.otf') format('opentype'),
    url('./assets/Fonts/gothamrnd_medium.otf') format('opentype'),
    url('./assets/Fonts/gothamrnd_mediumitalic.otf') format('opentype');
}

@font-face {
  font-family: 'GothamBook';
  src: url('./assets/Fonts/gothamrnd_book.otf') format('opentype');
}

@font-face {
  font-family: 'GothamBold';
  src: url('./assets/Fonts/gothamrnd_bold.otf') format('opentype');
}

@font-face {
  font-family: 'GothamLight';
  src: url('./assets/Fonts/gothamrnd_light.otf') format('opentype');
}

body {
  margin: 0;
  font-family: 'GothamBook', sans-serif;
  background-color: rgba(40, 40, 40, 1);
  min-width: 1330px;
  overflow-x: auto; 
}

button{
  font-family: 'GothamBook', sans-serif;
}

p{
  font-family: 'GothamLight', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}